<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="main.css">
</head>


<body>
<!-- Brand bar -->
<nav class="navbar navbar-my">
  <a class="navbar-brand">
      <img src="/img/simple-logo2.png" width=68" height="50" d-inline-block"/>
    <text class="navbartext">Pacifist</text>
  </a>
</nav>

<!-- Content -->
<div id = "appjumbotron" v-on:click="show = !show">
  <div class="jumbotron jumbotron-fluid jumbotron-my">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>

      <transition name="fade">  <p class="lead" v-if="show">This is a modified jumbotron that occupy the entire horizontal space of its parent.</p>  </transition>


    </div>
  </div>





</div>



<div id="demo">
  <button v-on:click="show = !show">
    Toggle
  </button>
  <transition name="fade">
    <p v-if="show">hello</p>
  </transition>
</div>


<div id="example-1">
  <button @click="show = !show">
    Toggle render
  </button>
  <transition name="slide-fade">
    <p v-if="show">hello</p>
  </transition>
</div>




</body>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</html>
